<div class="cover-photo">
  <img src="assets/images/self.jpg" class="rounded-circle" alt="">
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8 bg-light pt-5 pb-5">
      <h4>Abdulrahman Alaa </h4>
      <p class="text-muted ml-2">Senior Frontend Developer</p>
      <div class="row">
        <div class="col-md-2">
          <label><strong>Phone</strong> </label>
        </div>
        <div class="col-md-10">
          <span>
            (+20) 10 200 83 919
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <label><strong>Address</strong> </label>
        </div>
        <div class="col-md-10">
          <span>
            174, 4th Street, Haram Gardens, Cairo, Egypt
          </span>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <label><strong>Email</strong> </label>
        </div>
        <div class="col-md-10">
          <a href="mailto:abdulrahmanalaa@hotmail.com">AbdulrahmanAlaa@hotmail.com</a>
        </div>
      </div>
    </div>
    <div class="col-md-4  pt-5 pb-5">
      <h5>Skills</h5>
      <div class="big-badge">
        <span class="badge badge-pill badge-dark mr-1">Javascript</span>
        <span class="badge badge-pill badge-dark mr-1">Git</span>
        <span class="badge badge-pill badge-dark mr-1">NodeJs</span>
        <span class="badge badge-pill badge-dark mr-1">React</span>
        <span class="badge badge-pill badge-dark mr-1">AngularJs</span>
        <span class="badge badge-pill badge-dark mr-1">Angular</span>
        <span class="badge badge-pill badge-dark mr-1">TypeScript</span>
        <span class="badge badge-pill badge-dark mr-1">ES6</span>
        <span class="badge badge-pill badge-dark mr-1">Webpack</span>
        <span class="badge badge-pill badge-dark mr-1">Grunt</span>
        <span class="badge badge-pill badge-dark mr-1">HTML5</span>
        <span class="badge badge-pill badge-dark mr-1">CSS3</span>
        <span class="badge badge-pill badge-dark mr-1">SCSS</span>
        <span class="badge badge-pill badge-dark mr-1">Bootstrap</span>
        <span class="badge badge-pill badge-warning mr-1">C#</span>
        <span class="badge badge-pill badge-warning mr-1">.Net</span>
        <span class="badge badge-pill badge-warning mr-1">SQL</span>
        <span class="badge badge-pill badge-warning mr-1">API</span>
      </div>
    </div>
  </div>
  <div class="row pb-5 pt-5 experience">
    <div class="col-md-12">
      <h4 class="ml-2">Experience</h4>
    </div>
    <div class="row col-md-12 mt-5">
      <div class="col-2">
        <img class="logo" src="assets/images/vodafone.png">
      </div>
      <div class="col-10">
        <h5>
          Senior Frontend Developer at Vodafone (VIS)
        </h5>
        <p>
          Mentor new comers and juniors.
          <br>
          Develop and participate in Architecture design.
          <br>
          ECare project: Managing SIM services for Vodafone customers Germany.
        </p>
      </div>
    </div>
    <div class="row col-md-12 mt-5">
      <div class="col-2">
        <img class="logo" src="assets/images/parent.jpg">
      </div>
      <div class="col-10">
        <h5>
          Senior Frontend Developer at ParentApS
        </h5>
        <p>
          it's a product as service SAAS to manage the institutions and targeting administrators, teachers and parents

        </p>
      </div>
    </div>
  </div>
  <div class="row pb-5 pt-5 bg-light">
    <div class="col-sm-12 links">
      <a target="_blank" href="https://www.linkedin.com/in/abdulrahmanalaaeldeen/"><span class="icon-linkedin mr-2"></span></a>
      <a target="_blank" href="https://github.com/abdulrahmanalaa"><span class="icon-github mr-2"></span></a>
      <a target="_blank" href="skype:live:abdulrahmanalaa"><span class="icon-skype mr-2"></span></a>
    </div>
  </div>
</div>